@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}


body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/* common */
@keyframes zoom{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2) translate(-5%);
  }
  100%{
    transform: scale(1);
  }
}
.navbar{
  background: var(--mainWhite);
}
.navbar-toggler{
  outline: none!important;
  color: var(--mainBlue);
  font-size: 2rem;
}
.nav-link{
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--mainBlack);
}
.nav-link:hover{
  color: var(--mainBlue);
}
.nav-icon{
  color: var(--mainBlue);
  font-size: 1.5rem;
  text-decoration: none!important;
}
.nav-icon:hover{
  color: var(--mainBlack);
}
/* header */
.header{
  color: var(--mainWhite);
  clip-path: polygon(100% 0, 100% 94%, 51% 100%, 0 94%, 0 0);
  overflow: hidden;
}
.max-height{
  background: url(../img/headerBcg.jpeg)center/cover fixed no-repeat;
  min-height: calc(100vh - 76px);
  animation: zoom 20s ease-in-out 5s infinite;
}
.title-heading{
  font-size: 1.4rem;
  background: rgba(0,0,0,0.4);
  border-left: 0.4rem solid var(--mainBlue);
}
.title{
  font-size: 2.1rem;
}
@media screen and (min-width:767px){
  .title{
    font-size: 3rem;
  }
}
.title-icon{
  font-size: 2.4rem;
  color: var(--mainBlue);
  text-decoration: none!important;
}
.title-icon:hover{
  color: var(--mainBlue);
  opacity: 0.4;
}
/* skills section */
.section-title--special{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  clip-path: polygon(6% 0, 100% 0%, 93% 100%, 0% 100%);
  padding: 0.5rem 2rem;
}
.skill-icon{
  font-size: 3rem;
  background: var(--mainGrey);
  color: var(--mainYellow);
}
.skill-icon:hover{
  color: var(--mainYellow);
}
.skill-underline{
  background: var(--mainBlue);
  width: 4rem;
  height: 0.4rem;
  margin: 1rem auto;
}
/* inventory section */
.inventory{
  background: var(--mainGrey);
}
.card-body{
  background: var(--mainWhite);
}
.car-value{
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 79% 0, 100% 100%, 0 100%);
  padding: 0.5rem 1.5rem;
  transition: all 1s ease-in-out;
}
.car-value:hover{
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
}
.card-footer{
  background: var(--mainWhite);
  opacity: 0.8;
}
/* question section */
.question{
  background: url(../img/questionBcg.jpeg)center/cover fixed no-repeat;
}
.question-grey{
  background: rgba(79,109,122,0.75)
}
.question-yellow{
  background: rgba(227,181,5,0.75);
}
.question-icon{
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover{
  color: var(--mainBlue);
  transform: translateY(-10%);
}
.question-info{
  color: var(--mainWhite);
}